services:
  portfolio:
    build: .
    ports:
      - "3010:80"
    environment:
      - VITE_JOURNEY_URL=${VITE_JOURNEY_URL}
      - VITE_EMAILJS_SERVICE_ID=${VITE_EMAILJS_SERVICE_ID}
      - VITE_EMAILJS_TEMPLATE_ID=${VITE_EMAILJS_TEMPLATE_ID}
      - VITE_EMAILJS_PUBLIC_KEY=${VITE_EMAILJS_PUBLIC_KEY}